<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="connected==true">
  <button ion-button float-right (click)="showTutorial(); vibrate()">
    <ion-icon name="information"></ion-icon>
  </button>
  <ion-list inset>
      <ion-list-header>
        Nombre d'entreprises :{{ nhits ? ' ' +(nhits |number:'':'fr') + ' ' : ' '}}
      </ion-list-header>
    <ion-item ion-item *ngFor="let item of items" (click)="goToDetailCompany(item); vibrate()">
      <h2>{{ item.fields.l1_declaree }}</h2>
      <p class="listdetail">{{item.fields.l4_normalisee}} | {{item.fields.codpos}} </p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
