page-map {
  iframe.map{
    min-width: 100%;
    min-height: 100%;
  }
  .holder {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .frame {
    width: 100%;
    height: 100%;
  }
  .barLeft{
    position: absolute;
    top: 50%;
    left: -12%;
    width: 20%;
    border-radius:15000000px;
    height: 150px;
    background-color: white;
    opacity: 1;
    transition: all 0.7s;
  }
  .barRight {
    position: absolute;
    top: 50%;
    right: -12%;
    width: 20%;
    border-radius: 15000000px;
    height: 150px;
    background-color: white;
    opacity:1;
    transition: all 0.7s;
  }
  .arrowLeft{
    top:50%;
  }
}
