  <div>Entreprises trouvées : {{nbcompany}}</div>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Activité (code APE)</ion-label>
      <ion-input placeholder="Ajouté un code APE"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Catégorie d'entreprise</ion-label>
      <ion-input placeholder="Ajouté une catégorie entreprise"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Département</ion-label>
      <ion-input placeholder="Ajouté un département"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Comunne (Code postal)</ion-label>
      <ion-input placeholder="Ajouté un code postal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Date de création</ion-label>
      <ion-input placeholder="Ajouté une date de création"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Statut juridique</ion-label>
      <ion-input placeholder="Ajouté un status juridique"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Effectifs</ion-label>
      <ion-input placeholder="Ajouté un effectif"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Chiffre d'affaires</ion-label>
      <ion-input placeholder="Ajouté un chiffre d'affaire"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Région</ion-label>
      <ion-input placeholder="Ajouté une région"></ion-input>
    </ion-item>
  </ion-list>
