  <div>Entreprises trouvées : {{nbcompany}}</div>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Activité (code APE)</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Catégorie d'entreprise</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Département</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Comunne (Code postal)</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Date de création</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Statut juridique</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Effectifs</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Chiffre d'affaires</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Région</ion-label>
      <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
  </ion-list>
